<div class="container">

    <h1>Login page</h1>
    <form action="/login" method="post">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" value="Log In">
    </form>
    <br><br>
    <h1>or.. create an account</h1>

    <form action="/login" method="post">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" value="Log In">
    </form>

</div>
